<app-navbar></app-navbar>
<br>
<br>

<div class="container">
  <h2>Technologies,Languages,Languages</h2>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus fuga pariatur. Adipisci consectetur
        distinctio et in incidunt iusto molestiae nemo officia quisquam, quo quod ratione vel veritatis vitae
        voluptatum.</p>

      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Technologies</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi dignissimos eaque impedit
              praesentium quos reiciendis sapiente. Inventore mollitia perferendis temporibus? Dolores error fugiat in
              quasi quos repudiandae tenetur velit.</p>
          </div>
          <div class="col">
            <h1>Languages</h1>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur consequatur distinctio ducimus,
              earum error hic illum nemo, nisi, nobis sed similique tempore tenetur. Assumenda iure numquam provident
              sed voluptate!</p>
          </div>
        </div>
      </div>


    </div>
    <div class="col">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XgvT9UQ-wps" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>Technologies</h1>
        <iframe width="280" src="https://www.youtube.com/embed/jbSDXC-xjEI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <div class="col">
        <h1>Technologies</h1>
        <iframe width="280" src="https://www.youtube.com/embed/jbSDXC-xjEI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>


      </div>
      <div class="col">
        <h1>Technologies</h1>
        <iframe width="280" src="https://www.youtube.com/embed/jbSDXC-xjEI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
    </div>
  </div>

</div>
